.btn-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px 0 8px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}

.prd-heroImg {
    width: 45vw;
    max-height: 45vw;
    height: 45vw;
    /* object-fit: contain; */
    cursor: move;
    transition: transform 0.2s ease-out;
}

.main-prdImg {
    position: relative;
    overflow: hidden;
}