.container-div {
    background-color: rgb(65, 177, 225);
    color: white;
}
nav {
    background: rgb(65, 177, 225);
    padding: 20px;
    padding-bottom: 5px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

nav ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav a {
    color: white;
    text-decoration: none;
}